body {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}

#time-controls {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 40px;
}

.block {
  text-align: center;
}

.time {
  font-size: 7rem;  /* énorme affichage */
  font-weight: bold;
  margin: 10px 0;
}

button {
  font-size: 2rem;
  padding: 10px 25px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.start-btn {
  background-color: #0078ff;
  color: white;
  font-size: 3rem;
  padding: 20px 40px;
  border-radius: 20px;
}
